.text a	{
	font-size: 15px;
	font-weight:bold;
	text-decoration: none;
	border; 1px solid #999999;
}
.num	{
	float: left;
	font-size: 20px;
	padding: 10px;
	border; 1px solid #999999;
	width: 20px;
	height: 30px;
}
body	{
	padding: 0px 40px 0 20px;
	margin: 0;
	text-align: center;
	background-color: #F8F8F8 ;
}
fieldset	{
	padding: 20px 30px 20px 30px;
	border: solid 1px #ffffff;
}
legend	{
		font-size: 17px;
		font-weight: bold;
}
#main	{
	font-family: High Tower Text;
	font-weight:normal;
	padding: 5px;
	margin:0px;
}
#judul	{
	float: right;
	padding :5px;
}
#content	{
	clear: both;
	text-align: left;
	width: 65%;
	overflow: hidden;
	margin-left: 100px;
}
#gambar	{
	float:left;
	margin: 40px 10px 0px 40px;
	}
#content-main	{
	float: left;
	margin: 0px 10px 0px 40px;
}
#content-main .text	{
	margin: 10px 5px 0 0;
	float:left;
	width: 250px;
}
#content-main .Input	{
	margin: 10px 5px 0 0;
	padding: 0;
	border: 1px solid #000000;
	float:left;
}
#content-main .button-group	{
	margin: 40px 10px 20px 0;
	float: right;
}
#footer	{
	clear:both;
	font-size: 14px;
	font-weight: bold;
}
.mahasiswa	{
	font-family: High Tower Text;
	margin: 15px 0 0 20px;
	font-size: 19px;
}
.mahasiswa a{
	text-decoration: none;
	color: #000000;
}